<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>NC Hackshop 2015 - Vets</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css">
    <style>
      html, body, #map {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      
      body {
        background-color: #FFF;
        overflow: hidden;
        font-family: "Trebuchet MS";
      }
    </style>
    <script src="http://js.arcgis.com/3.14/"></script>
        <script>
      require([

        "esri/map",
        "esri/dijit/Search", 
        "esri/layers/FeatureLayer",
        "esri/renderers/ClassBreaksRenderer",
        "dojo/domReady!"

      ], function (Map, Search, FeatureLayer, ClassBreaksRenderer) {
         var map = new Map("map", {
            basemap: "gray",
            center: [-78.638, 35.780], // longitude, latitude
          zoom: 9 
         });

         var s = new Search({
            map: map
         }, "search");
         s.startup();

         var mapservice = new FeatureLayer("http://services5.arcgis.com/P9MDQiTYOozjFRjq/arcgis/rest/services/vets/FeatureServer/0");

         map.addLayer(mapservice);

      });

    </script>
  </head>

  <body>
    <div id="search"></div>
    <div id="map"></div>
  </body>
</html>